<ActionBar title="Home">
    <ActionItem (tap)="toggle()">
      <!-- example: using font-awesome for hamburger menu but you can use whatever you'd like -->
      <Button class="fa" text="&#xf0c9;"></Button> 
      <!-- however in your project, would be easier to use this plugin: https://github.com/NathanWalker/nativescript-fonticon -->
    </ActionItem>
</ActionBar>
<GridLayout rows="*" height="1500px">
	<RadSideDrawer>
		<StackLayout tkDrawerContent backgroundColor="#0099CC">
			<StackLayout height="56" style="text-align: center; vertical-align: center;">
				<Label text="Navigation Menu"></Label>
			</StackLayout>
			<StackLayout>
				<ListView [items]="items" class="list-group">
					<ng-template let-item="item">
					<Label [nsRouterLink]="['/item', item.id]" [text]="item.name"
						class="list-group-item"></Label>
					</ng-template>
				</ListView>
			</StackLayout>
		</StackLayout>
		<StackLayout tkMainContent>
			<router-outlet></router-outlet>
		</StackLayout>
	</RadSideDrawer>
</GridLayout>