<StackLayout>
    <TextField [(ngModel)]="textToSay"></TextField>
    <Button (tap)="textToSpeech()" text="Jarvis"></Button>
    <StackLayout>
        <AbsoluteLayout>
            <Image src="~/images/julia/julia_angry.png" stretch="aspectFill" width="100" height="100"></Image>
            <Image src="~/images/julia/{{julia}}" stretch="aspectFill" width="100" height="100"></Image>
        </AbsoluteLayout>
    </StackLayout>
    <FlexboxLayout alignItems="center" justifyContent="space-around" itemWidth="auto" itemHeight="auto">
       <Button (tap)="speechToText()" text="strat listening"></Button>
       <Button (tap)="stopListening()" text="stop listening"></Button>
    </FlexboxLayout>
 </StackLayout>